---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Certifications from "../components/Certifications.astro";
import GitHubStats from "../components/GitHubStats.astro";
import BlogPreview from "../components/BlogPreview.astro";
import Contact from "../components/Contact.astro";
---

<BaseLayout>
  <Hero />
  <div class="section-divider"></div>
  <About />
  <Skills />
  <Projects />
  <Experience />
  <Certifications />
  <GitHubStats />
  <BlogPreview />
  <Contact />
</BaseLayout>
